.container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px;
}

.select{
    padding: 10px;
    font-size: 24px;
}

.btn{
    padding: 10px;
    font-size: 24px;
}